@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root{
    font-size: 32px;
}
.container{
    display: grid;
    justify-items: center;
    background: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 3rem;

}
.img-container{
    background-image: url(./images/pattern-bg.svg);
    padding: 3rem;
  background-repeat: no-repeat;
  background-position: top center;
   
    
}
.details{
   color:  hsl(240, 38%, 20%);
   text-align: center;
   font-weight: 300;
   padding: 1rem;
}
.user-img{
    height: 13rem;
    width: 12rem;
}

.profile-name{
    font-family: 'Inter', sans-serif;
   font-weight: 700;
   text-align: center;
   margin-top: 0;

}
.profile-work{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: hsl(240, 18%, 77%);
    display: grid;
 
}
@media{
    min-width: 375px;
   


}
@media {
    min-width:  1440px;
   
}

/* 
- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%) */