@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root{
    font-size: 32px;
}
.container{
    display: grid;
    justify-items: center;
    background: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 3rem;
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10%;
    grid-template-areas: 
    "pic"
    "info"
    "work";

}
.img-container{
    background-image: url(./images/pattern-bg.svg);
    padding: 3rem;
grid-area: pic;

   
    
}
.details{
   color:  hsl(240, 38%, 20%);
   text-align: center;
   background: url(./images/pattern-quotes.svg);
   background-repeat: no-repeat;
   background-position: top center;
   font-weight: 300;
   padding: 1rem;
   display: grid;
  grid-area: info;

}
.user-img{
    height: 13rem;
    width: 12rem;
}

.profile-name{
    font-family: 'Inter', sans-serif;
   font-weight: 700;
   text-align: center;
   margin-top: 0;
   /* display: grid;
   grid-area: name; */

}
.profile-work{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: hsl(240, 18%, 77%);
    /* display: grid;
    grid-area: work; */
 
}

.buttons{
    background-color: aqua;
    width: max-content;
    padding: 10px ;
    display: flex;
    gap: 1rem;
    border-radius: 100rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: .8rem;
}

.footer{
    display:grid;
    grid-area: work;
}
@media (min-width:720px) {
.container{
    grid-template-areas: 
    "info info pic"
    "work work pic";
}
}
/* 
- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%) */